h3{
  font-family: cursive;
  font-size: 32px;
  margin: 0px !important;
}



.item{
  text-decoration: none;
  color: white;

}



h2{
  font-size: 40px;
  position: relative;
  top: 10%;
  /* left: 20%; */
  font-family: cursive;
}


form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  justify-content: center;
  border: 2px solid inherit;
  border-radius: 30px;
  text-align: center ;
  width: 80%;
  background-color: rgb(247, 237, 237,0.8);

}

.main{
  position: relative;
  left: 10%;
  top: 20%;
  width: 100%;
  overflow: hidden !important;
}

.post-main{
  position: relative;
  left: 20%;
  top: 2% !important;
  overflow: hidden !important;
}

#post-form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  justify-content: center;
  border: 2px solid inherit;
  border-radius: 30px;
  text-align: center ;
  width: 60%;
  background-color: white !important;
}

.app-main{
  margin: 10% auto;
  text-align: center;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  margin-top: 5%;

}

#posts{
  margin-top: 5%;
}

#btn{
  width: 20%;
  position: relative;
  left: 40%;
  margin-top: 4%;
  font-size: 100%;
}

form .inputbox{
  margin: 10px !important;
  width: 80% !important;
  position: relative;
  left: 10%;

}

#name{
  color: grey;
  font-weight: 400px;
  text-transform: uppercase;
}



#cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  margin-top: 2%;
  border-radius: 20px;
  background-color: rgb(207, 195, 195);
}

hr{
  color: grey;
  width: 80%;
}


#cont li{
  font-size: 28px;
  margin: 0px !important;
  font-weight: 400;
  font-family: cursive;
  color: black;
  list-style: none; 

}
#post-name{
  margin-top: 2% !important;
  text-transform: uppercase;
}

#post-item{
  font-size: 28px;
  width: 100% !important;
}


p.buttonbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  margin: 2px;
}

.btn {
  width: 30%;
  cursor: pointer;
  font-size: 60%;
  background: none;
  border: 0;
  margin: 5px;
  height: 30px;
  font-weight: 700;
  color: grey;
}

.btn:hover {
  background: red;
  border-radius: 5px;
  color: white;
}



.nav-itms{
  text-decoration: none !important;
  color: white;
  margin-right: 10px ;
  font-size: 22px;

}

.nav-main{
  color: white !important;
  font-weight: 600;
  font-size: 24px !important;
  margin-right: 2% !important;
}

Link{
  text-decoration: none !important;

}


.dashbtn{
  background-color: rgb(28, 238, 28);
  border-radius: 8px;
  padding: 10px;
  color: white;
  border: none;
  outline: none;
}



/* Profile Page Css */

.profile{
  text-align: center;
  margin-top: 5%;
}

#profileheader{
  color: black;
  text-align: center;
  text-decoration: red 5px underline;
  margin-bottom: 5%;
}

#personaldtl{
  text-transform: uppercase;
  font-weight: 500;
  padding: 2px;
}

.info{
  padding: 4%;
}


.splashscreen{
  width: 100%;
  height: 100vh;
  background-color: black;
  text-align: center;
  padding: 20%;
}
